<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output | QR Code generator - hxnrycz.xyz</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="shortcut icon" href="/assets/icon.png">
</head>
<body><br><br><br><br><br><br><br>
        <div style="resize:none;width:70%;height:50%;background-color:rgb(16, 4, 42);color:rgb(199, 199, 199);margin:3px;border-radius: 8px;"><p style="margin:10px;font-size:150%;">
            <%= output %>
        </p></div>
</body>
</html>